server:
  port: 8093
spring:
  application:
    name: analytics-service
  
  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST:${DB_HOST:localhost}}:${POSTGRES_PORT:${DB_PORT:5432}}/${POSTGRES_DB:${DB_NAME:kado24_db}}?currentSchema=analytics_schema
    username: ${POSTGRES_USER:${DB_USER:kado24_user}}
    password: ${POSTGRES_PASSWORD:${DB_PASSWORD:kado24_pass}}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 3
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      password: ${REDIS_PASSWORD:kado24_redis_pass}
      timeout: 60000ms
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    consumer:
      group-id: analytics-service-group
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
logging:
  level:
    com.kado24: DEBUG

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true








