server:
  port: 8089

spring:
  application:
    name: admin-portal-backend
  
  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST:${DB_HOST:localhost}}:${POSTGRES_PORT:${DB_PORT:5432}}/${POSTGRES_DB:${DB_NAME:kado24_db}}?currentSchema=admin_schema
    username: ${POSTGRES_USER:${DB_USER:kado24_user}}
    password: ${POSTGRES_PASSWORD:${DB_PASSWORD:kado24_pass}}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 3
  
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      password: ${REDIS_PASSWORD:kado24_redis_pass}
      timeout: 60000ms
  
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

jwt:
  secret: kado24-secret-key-change-this-in-production-minimum-256-bits-required-for-security

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus

logging:
  level:
    com.kado24: DEBUG

springdoc:
  swagger-ui:
    path: /swagger-ui.html






