server:
  port: 8092
spring:
  application:
    name: payout-service
  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST:${DB_HOST:kado24-dev-db.cfcki64aaw44.ap-southeast-1.rds.amazonaws.com}}:${POSTGRES_PORT:${DB_PORT:5432}}/${POSTGRES_DB:${DB_NAME:postgres}}?currentSchema=payout_schema
    username: ${POSTGRES_USER:${DB_USER:kado24_dev_user}}
    password: ${POSTGRES_PASSWORD:${DB_PASSWORD:docTod-dyfvi0-nesbux}}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 3
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      password: ${REDIS_PASSWORD:kado24_redis_pass}
      timeout: 60000ms
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${AUTH_SERVICE_ISSUER:http://auth-service:8081}
          jwk-set-uri: ${AUTH_SERVICE_JWKS:http://auth-service:8081/oauth2/jwks}
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
logging:
  level:
    com.kado24: DEBUG










