server:
  port: 8095

spring:
  application:
    name: mock-payment-service

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

logging:
  level:
    root: INFO
    com.kado24: DEBUG































