server:
  port: 8095

spring:
  application:
    name: mock-payment-service
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${AUTH_SERVICE_ISSUER:http://auth-service:8081}
          jwk-set-uri: ${AUTH_SERVICE_JWKS:http://auth-service:8081/oauth2/jwks}

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

logging:
  level:
    root: INFO
    com.kado24: DEBUG































